
.presmerovanie{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}






.uvod_div2:hover,
.uvod_div3:hover,
.uvod_div4:hover,
.horna_lista_ikony:hover {
transform: scale(0.98);
cursor: pointer;
box-shadow: 0 10px 20px rgba(0,0,0,0.45);
transition: 0.3s ease;
}









.body1 {

    background-color: rgb(255, 255, 255);
}











.header1 {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(210, 210, 210, 0.756);
    height: 80px;
    display: flex;
    justify-content: right;
    padding-top: 7px;
    z-index: 15;
}
.horna_lista_ikony{
    display: flex;
    height: 60px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    width: 100px;
    margin-right: 50px;
    border-radius: 20px;
    transition: 0.3s ease;
}
.horna_lista_ikona1_obrazok{width: 100px;height: 65px;object-fit: scale-down;margin-top: -2px;}
.horna_lista_ikona2_obrazok{width: 100px;height: 50px;object-fit: scale-down;margin-top: 5px;}
.horna_lista_ikona3_obrazok{width: 100px;height: 50px;object-fit: scale-down;margin-top: 5px;}

.sidebar1 {
    position: fixed;
    top: 80px;
    bottom: 0px;
    left: 0px;
    width: 60px;
    background-color: lightsalmon;
}
















.uvod_div {
    height: 800px;
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
}
        .uvod_cele_div {
        background-color: rgb(252, 252, 252);
         flex: 1;
        }
            .uvod_nadpis {
                height: 71px;
                margin-top: -40px;
                z-index: 25;
                position: relative ;
                margin-top: -71px;
                margin-right: 30%;
                margin-left: 30%;
            }
            .uvod_nadpis_pozadie {
                height: 71px;
                background-color: rgba(255, 255, 255, 0);
                margin-top: -40px;
                z-index: 20;
                position: relative ;
                margin-top: -32px;
                margin-right: 30%;
                margin-left: 30%;
            }
            .uvod_nadpis_opis1{
                font-size: 35px;
                margin-left:80px;
                margin-right: 80px;
                z-index: 10;
                text-align: center;   
                margin-top: 250px;  
                position: absolute;
                font-size: 35px;
                text-align: center;
                margin-bottom: -13px;
                color: white;
                text-shadow:
                    0 2px 4px rgba(0,0,0,0.7),
                    0 6px 16px rgba(0,0,0,0.45);
                }








            .uvod_nadpis_text {
                color: rgb(0, 0, 0);
                text-align: center;
                font-size: 60px;
                position: relative;
                z-index: 11;
            }
            .uvod_nadpis_text2 {
                color: rgb(255, 255, 255);
                text-align: center;
                font-size: 100px;
                position: relative;
                z-index: 11;
                margin-top: -20px;
                margin-bottom: -10px;
            }
            .uvod_nadpis_opis{
                font-size: 35px;
                margin-left: 20px;
                margin-right: 20px;
                margin-top: -5px;            
            }









.uvod_div2 {
    height: 350px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border: 7px solid rgb(151, 151, 151);
    border-radius: 10px;
    transition: 0.3s ease;
    z-index: 10;
    position: relative;
}
        .uvod_prava_div2 {
            width: 525px;
        }
            .uvod_prava_obrazok2 {
                height: 350px;
                width: 525px;
                border-radius: 8px;
                object-fit: cover;
            }  
        .uvod_lava_div2 {
        background-color: rgb(250, 250, 250);
         flex: 1;
         margin-top:10px;
        }
            .uvod_nadpis2 {
                height: 60px;
                background-color: #ffbf66;
                margin-top: -50px;
            }









.uvod_div3 {
    height: 350px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border: 7px solid rgb(151, 151, 151);
    border-radius: 10px;
    transition: 0.3s ease;
}

        .uvod_prava_div3 {
            width: 525px;
        }
            .uvod_prava_obrazok3 {
                height: 350px;
                width: 525px;
                object-fit: scale-down;
                border-radius: 8px;
            }  
        .uvod_lava_div3 {
        background-color: rgb(250, 250, 250);
         flex: 1;
        }
            .uvod_nadpis3 {
                height: 60px;
                background-color: #ffbf66;
                margin-top: -40px;
            }












            .uvod_div4 {
    height: 350px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border: 7px solid rgb(151, 151, 151);
    border-radius: 10px;
    transition: 0.3s ease;
}
        .uvod_prava_div4 {
            width: 525px;
        }
            .uvod_prava_obrazok4 {
                height: 350px;
                width: 525px;
                object-fit: cover;
                border-radius: 8px;
            }  
        .uvod_lava_div4 {
        background-color: rgb(250, 250, 250);
         flex: 1;
        }
            .uvod_nadpis4 {
                height: 60px;
                background-color: #ffbf66;
                margin-top: -40px;
            }



._3ikony_hlavna{
    padding-left: 100px;
    padding-right: 100px;

}



@media (max-width: 768px) {
  .uvod_prava_div2,
  .uvod_prava_div3,
  .uvod_prava_div4,
  .uvod_nadpis
   {
    display: none;
  }
  .uvod_nadpis_text2{
    font-size: 60px;
  }
.uvod_nadpis_opis{
    font-size: 23px;
}
.uvod_lava_div2{
    margin-top: 17px;
}
.uvod_lava_div3{
    margin-top: 7px;
}
.uvod_lava_div4{
    margin-top: 7px;
}
.uvod_nadpis_opis1{
    font-size: 21px;
}
.uvod_nadpis{
    z-index: 8;
}
._3ikony_hlavna{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -20px;
}




}























.obsah2_1{
    font-size: 30px;
    text-align: center;
    margin-bottom: -13px;
}

.obsah2_2{
    font-size: 20px;
    margin-bottom: -11px;
}

.obsah2_3{
    font-size: 25px;
    text-align: center;
    margin: 0px;
}

.dotaznik-section {
  margin: 40px auto;
  max-width: 600px;
  padding: 0 15px;
}

.dotaznik-section h2 {
  text-align: center;
  margin-bottom: 18px;
  font-size: 1.8rem;
  color: #222;
}

.dotaznik-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dotaznik-form label {
  font-weight: 600;
  font-size: 0.95rem;
  color: #333;
}

.dotaznik-form input,
.dotaznik-form textarea {
  padding: 10px 12px;
  border: 1px solid #888;
  border-radius: 6px;
  font-size: 0.95rem;
  font-family: inherit;
  color: #111;
}

.dotaznik-form input:focus,
.dotaznik-form textarea:focus {
  outline: none;
  border-color: #ffbf66;
  box-shadow: 0 0 6px rgba(46,204,113,0.3);
}

.dotaznik-form button {
  margin-top: 8px;
  padding: 10px 0;
  background-color: #ffbf66;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.dotaznik-form button:hover {
  background-color: #ffbf66;
}