
.presmerovanie{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}






.uvod_div2:hover,
.uvod_div3:hover,
.uvod_div4:hover,
.horna_lista_ikony:hover {
transform: scale(0.98);
cursor: pointer;
box-shadow: 0 10px 20px rgba(0,0,0,0.45);
transition: 0.3s ease;
}









.body1 {
    height: 3000px;
}











.header1 {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(210, 210, 210);
    height: 80px;
    display: flex;
    justify-content: right;
    padding-top: 7px;
    z-index: 117;
}
.horna_lista_ikony{
    display: flex;
    height: 60px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    width: 100px;
    margin-right: 50px;
    border-radius: 20px;
    transition: 0.3s ease;
}
.horna_lista_ikona1_obrazok{width: 100px;height: 65px;object-fit: scale-down;margin-top: -2px;}
.horna_lista_ikona2_obrazok{width: 100px;height: 50px;object-fit: scale-down;margin-top: 5px;}
.horna_lista_ikona3_obrazok{width: 100px;height: 50px;object-fit: scale-down;margin-top: 5px;}

.sidebar1 {
    position: fixed;
    top: 80px;
    bottom: 0px;
    left: 0px;
    width: 60px;
    background-color: lightsalmon;
}
















.uvod_div {
    height: 300px;
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
}
        .uvod_cele_div {
        background-color: rgb(252, 252, 252);
         flex: 1;
        }
            .uvod_nadpis {
                height: 60px;
                background-color: rgb(255, 159, 28);
                margin-top: -40px;
            }
            .uvod_nadpis_opis1{
                font-size: 35px;
                margin-left:80px;
                margin-right: 80px;
                margin-top: -5px;    
                text-align: center;        
            }








            .uvod_nadpis_text {
                color: black;
                text-align: center;
                font-size: 60px;
            }
            .uvod_nadpis_opis{
                font-size: 35px;
                margin-left: 20px;
                margin-right: 20px;
                margin-top: -5px;            
            }









.uvod_div2 {
    height: 350px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border: 7px solid rgb(151, 151, 151);
    border-radius: 10px;
    transition: 0.3s ease;
}
        .uvod_prava_div2 {
            width: 525px;
        }
            .uvod_prava_obrazok2 {
                height: 350px;
                width: 525px;
                border-radius: 8px;
                object-fit: cover;
            }  
        .uvod_lava_div2 {
        background-color: rgb(250, 250, 250);
         flex: 1;
        }
            .uvod_nadpis2 {
                height: 60px;
                background-color: #ffbf66;
                margin-top: -50px;
            }









.uvod_div3 {
    height: 350px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border: 7px solid rgb(151, 151, 151);
    border-radius: 10px;
    transition: 0.3s ease;
}

        .uvod_prava_div3 {
            width: 525px;
        }
            .uvod_prava_obrazok3 {
                height: 350px;
                width: 525px;
                object-fit: scale-down;
                border-radius: 8px;
            }  
        .uvod_lava_div3 {
        background-color: rgb(250, 250, 250);
         flex: 1;
        }
            .uvod_nadpis3 {
                height: 60px;
                background-color: #ffbf66;
                margin-top: -40px;
            }












            .uvod_div4 {
    height: 350px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border: 7px solid rgb(151, 151, 151);
    border-radius: 10px;
    transition: 0.3s ease;
}
        .uvod_prava_div4 {
            width: 525px;
        }
            .uvod_prava_obrazok4 {
                height: 350px;
                width: 525px;
                object-fit: cover;
                border-radius: 8px;
            }  
        .uvod_lava_div4 {
        background-color: rgb(250, 250, 250);
         flex: 1;
        }
            .uvod_nadpis4 {
                height: 60px;
                background-color: #ffbf66;
                margin-top: -40px;
            }