
.presmerovanie{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}



.header1 {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(210, 210, 210);
    height: 80px;
    display: flex;
    padding-top: 7px;
    z-index: 117;
    justify-content: space-between;
}

.horna_lista_ikony{
    display: flex;
    height: 60px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    width: 100px;
    margin-right: 40px;
    border-radius: 20px;
}
.horna_lista_ikony0{
    display: flex;
    height: 60px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    width: 100px;
    margin-left: 40px;
    border-radius: 20px;
}






.horna_lista_ikony0:hover {
transform: scale(0.98);
cursor: pointer;
box-shadow: 0 10px 20px rgba(0,0,0,0.45);
transition: 0.3s ease;
}





.horna_lista_ikona0_obrazok{width: 100px;height: 65px;object-fit: scale-down;margin-top: -2px;}
.horna_lista_ikona1_obrazok{width: 100px;height: 65px;object-fit: scale-down;margin-top: -2px;}
.horna_lista_ikona2_obrazok{width: 100px;height: 50px;object-fit: scale-down;margin-top: 5px;}
.horna_lista_ikona3_obrazok{width: 100px;height: 50px;object-fit: scale-down;margin-top: 5px;}



.body1 {background-color: white;

}





.uvod_nadpis_div{
    height: 100px;
    background-color: #ffbf66;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 13px;
    }
.uvod_nadpis{
    font-size: 70px;text-align: center;
}

.div_obsah1{
    background-color: rgb(252, 252, 252);
    height: 380px;
    display: flex;
    flex: 1;
    flex-direction: column;
    border-bottom: 5px solid rgb(151, 151, 151);
    border-top:5px solid rgb(151, 151, 151) ;

}
.obsah1{
    font-size: 35px;
    padding-left: 75px;
    padding-right: 75px;
    text-align: center;
}

.div_obsah2{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}
.obsah2_0{
    font-size: 30px;
    text-align: center;
}
.obsah2_1{
    font-size: 30px;
    text-align: center;
    margin-bottom: -13px;
}

.obsah2_2{
    font-size: 27px;
    text-align: center;
}
.obsah2_2_2{
    font-size: 27px;
    text-align: center;
    margin-left: 45px;
}
.obsah2_3{
    font-size: 30px;
    text-align: center;


}

.div_obsah2_5{
    display: flex;
    flex-direction: row;
    height: 195px;
    background-color: rgb(244, 244, 244);
    border-radius: 30px;
    border-bottom: 5px solid rgb(151, 151, 151);
}
        .div_obsah2_6{
            flex: 1;
            text-align: center;
            font-size: 20px;
        }
        .obsah2_3{
            font-size: 28px;
            margin-top: 15px;
            margin-bottom: -5px;
        }


.div_obsah2_5:hover{
cursor: default;
}




.div_obsah2_7{
    background-color: rgb(244, 244, 244);
    border-radius: 30px;
    border-bottom: 5px solid rgb(151, 151, 151);
    margin-bottom: 27px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
}





.div_obsah2_7:hover{
transform: scale(1.015);
cursor: default;
transition: 2s ease;
}



.div_obsah2_8:hover{
transform: scale(1.015);
cursor: default;
transition: 1.75s ease;
}
.div_obsah2_9:hover{
transform: scale(0.95);
cursor: pointer;
transition: 0.4s ease;
}

.obrazky_nazov_bic1_div{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    height: 110px;

}
.obrazky_nazov_bic1_text{
text-align: center;
font-size: 45px;



}
.obrazky_bic1_div{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    height: 250px;


}

.obrazky_bic1_obrazok{
    height: 250px;
    object-fit: cover;
    height: fit-content;
    width: 395px;
 justify-content: center;

}




.tabulkavelkosti{
     border: 1px solid black;
    border-collapse: collapse; 
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 27px;
    align-items: center;
}


.obsah2_5{
    text-align: center;
    font-size: 45px;
    margin-top: 150px;
    margin-bottom: 0px;
}




.div_obsah2_8{
    background-color: rgb(244, 244, 244);
    border-radius: 30px;
    border-bottom: 5px solid rgb(151, 151, 151);
    margin-bottom: 27px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
    margin-top: 45px;
}

.div_obsah2_9{
    background-color: rgba(255, 191, 102, 0.897);
    border-radius: 30px;
    border-bottom: 5px solid rgb(151, 151, 151);
    margin-bottom: 27px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
    height: 66px;
    
}









.div_obsah3_1{
display: flex;
flex-direction:row;
}

.div_obsah3_1_1{
flex: 6;

height: 405px;
margin-top: 30px;
}



.div_obsah3_1_2{
width: 720px;
background-color: blueviolet;
height: 405px;
margin-top: 30px;
}





#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background-color: #00000071;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

#backToTop:hover {
  transform: scale(1.1);
}
















































